--extra-index-url https://download.pytorch.org/whl/cu121
fastapi>=0.103.0
uvicorn>=0.23.2
websockets>=11.0.3
numpy>=1.24.3
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
transformers>=4.45.0
accelerate>=0.25.0
onnx>=1.15.0
onnxruntime>=1.16.3
requests>=2.31.0
soundfile>=0.12.1
librosa>=0.10.1
sentencepiece>=0.2.0
